#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      Files
      - if @node
        %span.alt for
        = link_to h(@node.name), @node
      %span.count== (#{@node_files.length})

  %table.inspector.main
    %tbody
      - @node_files.each do |n|
        %tr
          %td
            %a{:href=>"/nodefiles/" + n.host + "/" + n.filename}= n.filename
